<!-- Bouton pour ouvrir la modal -->
<button class="btn btn-primary" (click)="openModal()">Choisir mon rôle</button>

<!-- Modal -->
<div class="modal fade" id="roleModal" tabindex="-1" aria-labelledby="roleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="roleModalLabel">Sélectionnez votre rôle</h5>
      </div>
      <div class="modal-body text-center">
        <p>Êtes-vous un particulier ou une entreprise ?</p>
        <button class="see_all_button journey_catalogue_button flexCenter" (click)="selectRole('ENTREPRISE')" data-bs-dismiss="modal">Une entreprise</button>
        <button class="see_all_button journey_catalogue_button flexCenter" (click)="selectRole('CLIENT')" data-bs-dismiss="modal">Un particulier</button>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> X</button>
<!--
        <button class="btn btn-success me-2" (click)="selectRole('USER')" data-bs-dismiss="modal">
          Je suis un particulier
        </button>
        <button class="btn btn-warning" (click)="selectRole('COMPANY')" data-bs-dismiss="modal">
          Je suis une entreprise
        </button>
        -->
      </div>
    </div>
  </div>
</div>
