
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
  height:150px;

  button{
    width: auto;
    padding: 10px;
    height: 55px;
    background: rgba(3, 113, 113, 0.1);
    text-align: center;
    text-decoration: none;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    margin: 10px;
    border: none;
  }
}

#logo_acf{
  width: auto;
  height: 200px;
  font-size: 80px;
  border: 1px solid white;
  color: white;
  padding: 20px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  background: rgb(100 123 34);
}

header button:hover{
  background-color: rgba(0, 0, 0, 0.1215686275);
  border:1px solid white;
}
header:not(.scrolled) {
  background-color: #147286;
  display: flex;
  justify-content: center;
  height:150px;
  .logo_header{
    width:200px;
    border:none;
    margin-right:300px;
  }
  #logo_acf{
    transform:scale(1);
    position: relative;
    bottom:-100px;
    left:40px;
  }
  button{
    border:1px solid white;
  }
}


header.scrolled {
  background-color: #147286;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height:150px;
  .logo_header{
    width:200px;
    margin-right:300px;
  }
  #logo_acf{
    transform:scale(0.75);
    position: relative;
    bottom:0px;
  }
  button{
    border:1px solid white;
  }
}

nav a {
  margin-left: 15px;
  text-decoration: none;
  color: #fff;
}


