#star_trip_header{
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 0px 20px;
  transition: background-color 0.3s ease;
  button{
    width:300px;
    padding:10px;
    height:50px;
    background: #12234d;
    text-align:center;
    text-decoration:none;
    align-items: center;
    font-size:16px;
    text-transform:uppercase;
    color:white;
    margin:10px;
    border:none;
  }
}

header button:hover{
  background-color: rgba(0, 0, 0, 0.1215686275);
  border:1px solid white;
}
header:not(.scrolled) {
  background-color: transparent;
  display:flex;
  justify-content:center;
  #logo{
    display:none;
  }
  button{
    border:1px solid white;
  }
}


header.scrolled {
  background-color: #12234d;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  img{
    transform:scale(1.7);
  }
}

nav a {
  margin-left: 15px;
  text-decoration: none;
  color: #fff;
}

#logo_acf{
  width:100%;
  text-align:center;
  font-size:80px;
  display: inline-block;
  border:none;color:white;
}

