
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button{
    width: 120px;
    padding: 2px;
    height: 55px;
    background: rgba(3, 113, 113, 0.1);
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    border: none;
    margin: 0px 10px;
  }
}
.header_nav_links_container{
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo_acf{
  width: auto;
  font-size: 80px;
  border: 1px solid white;
  color: #383f4e;
  padding: 20px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  background: rgb(248, 166, 51);
}

header button:hover{
  background-color: rgba(0, 0, 0, 0.1215686275);
  border:1px solid white;
}
header:not(.scrolled) {
  background-color: #147286;
  .logo_header{
    width:200px;
    border:none;
    margin-right:300px;
  }
  #logo_acf{
    transform:scale(1);
    position: relative;
    bottom:-100px;
    left:40px;
  }
  button{
    border:1px solid white;
  }
}


header.scrolled {
  background-color: #147286;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  .logo_header{
    width:200px;
    margin-right:300px;
  }
  #logo_acf{
    transform:scale(0.75);
    position: relative;
    bottom:0px;
  }
  button{
    border:1px solid white;
  }
}

nav a {
  margin-left: 15px;
  text-decoration: none;
  color: #fff;
}

.register-container {
  position: relative;
  display: inline-block;
}
.login-container {
  position: relative;
  display: inline-block;
  height: 56px;
  width: 156px;
}

.btn-register {
  padding: 10px 15px;
  background-color: black;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.btn-register:hover {
  background-color: #0056b3;
}
.btn-login {
  padding: 10px 15px;
  background-color: black;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.btn-login:hover {
  background-color: #0056b3;
}


.modal-container {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 100;
  gap: 10px;
  opacity: 0;
  transform: translateY(-10px);
}

.modal-container.show {
  opacity: 1;
  transform: translate(0px,10px);
}

.btn {
  padding: 5px 10px;
  border: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #1e7e34;
}


