<header [class.scrolled]="isScrolled">
  <div class="logo_header">
    <div routerLink="/" id="logo_acf">
      <div>ACF</div>
    </div>
  </div>
  <div class="header_nav_links_container">
  @if(!userConnected()){
    <button routerLink="stages/all">Nos stages</button>
    <button routerLink="stages-infos">Informations générales</button>
    <button routerLink="code-promos/create">Créer un code promo</button>
    <button routerLink="stages/all">Nos stages</button>

    <!--
    <button routerLink="b2b">Professionnels</button>

    <button routerLink="statistiques-et-législation">Statistiques et législation (SEO)</button>
    <button routerLink="qui-sommes-nous ?">Qui nous sommes ? (SEO)</button>
    -->
    <!--<button routerLink="users/login">Se connecter</button>-->
    <!--<button routerLink="company/login">Se connecter</button>-->

    <div class="register-container" (mouseover)="openRegisterModal()" (mouseleave)="startCloseRegisterModal()">
      <button class="btn-register">S'inscrire</button>
      <div
        *ngIf="showRegisterModal"
        class="modal-container"
        [class.show]="showRegisterAnimation"
        (mouseover)="cancelCloseRegisterModal()"
        (mouseleave)="startCloseRegisterModal()"
      >
        <button (click)="selectType('PARTICULIER', $event)" routerLink="users/register" class="btn_register">
          Particulier
        </button>
        <button (click)="selectType('ENTREPRISE', $event)" routerLink="company/register" class="btn_register">
          Entreprise
        </button>
      </div>
    </div>

    <div class="login-container" (mouseover)="openLoginModal()" (mouseleave)="startCloseLoginModal()">
      <button class="btn-login">Se connecter</button>
      <div
        *ngIf="showLoginModal"
        class="modal-container"
        [class.show]="showLoginAnimation"
        (mouseover)="cancelCloseLoginModal()"
        (mouseleave)="startCloseLoginModal()"
      >
        <button (click)="selectLoginType('PARTICULIER', $event)" routerLink="users/login" class="btn_login">
         Particulier
        </button>
        <button (click)="selectLoginType('ENTREPRISE', $event)" routerLink="company/login" class="btn_login">
          Entreprise
        </button>
      </div>
    </div>



    <!--
    <app-register-modal *ngIf="showModal" (closeModal)="toggleModal()"></app-register-modal>
    -->


  }@else{

    @if(userConnected()?.role?.name === 'ADMIN'){
      <button routerLink="stages/all">Nos stages</button>
      <button routerLink="stages/create">Créer unn stage</button>
      <button routerLink="dashboard-admin">Mon espace admin</button>
      <hr>
      <button (click)="logout()">DÉCONNEXION</button>
    }
    @if(userConnected()?.role?.name === 'ENTREPRISE' ){
      <button routerLink="stages/all">Nos stages</button>
      <button routerLink="dashboard-company">Mon espace professionnel</button>
      <button (click)="logout()">DÉCONNEXION</button>
    }
    @if(userConnected()?.role?.name === 'PARTICULIER'){
      <button routerLink="stages/all">Nos stages</button>
      <button routerLink="dashboard-client">Mon espace client</button>
      <button (click)="logout()">DÉCONNEXION</button>
    }
  }
  </div>
</header>


