.card_stages{
  display:flex;
  justify-content: space-between;
  background: linear-gradient(135deg, #282828, #374b60, #12aed0);
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 80%;
  color: #fff;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.inscription_button{
  width: 200px;
  font-size: 30px;
  align-items: center;
  border-radius: 10px;
  background-color: #f8a633;
  border: 1px solid white;
  color: #2d333b;
}
.details_button{
  width: 200px;
  font-size: 30px;
  align-items: center;
  border-radius: 10px;
  background-color: #f8a633;
  border: 1px solid white;
  color: #2d333b;
}
.close_button {
  background-color: red;
  color: white;
  border: none;
  padding: 16px;
  cursor: pointer;
  height: 100px;
  align-items: center;
  font-size: 24px;
  margin-top: 24px;
  border-radius: 4px;
}

.close_button:hover {
  background-color: darkred;
}
.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Assurez-vous qu'il y a un espace entre les cartes */
}

.card_stages {
  border: 1px solid #ccc;
  padding: 20px;
  font-size:20px;
  margin:0 auto;
}

h1{
  background-color: #383f4e;
}



