td{
  width:auto;
}
.dashboard_client{
  width:80%;
  margin:0 auto;
  padding:20px;
  h1{
    background: rgba(0, 0, 0, 0.37);
  }
  h2{
    text-align:center;
    padding:40px;
    background: rgba(0, 0, 0, 0.37);
    color:white;
  }
  td{
    text-align: center;
    margin-top:20px;
    height:20px;
    padding:20px;
  }
  th{
    border:1px solid black;
    padding:20px;

  }
}
