<div class="dashboard_client">
  <h1>Bienvenue sur votre espace client</h1>

  <h2>Mes inscriptions</h2>
  <pre>{{ stagesDetails | json }}</pre>

  <table *ngIf="inscriptions.length > 0; else noInscriptions">
    <thead>
    <tr>
      <th>Détails</th>
      <th>Type</th>
      <th>Date d'inscription</th>
      <th>Statut</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let inscription of inscriptions">
      <td>
        <div *ngIf="inscription.stageId != null && stagesDetails[inscription.stageId]; else loading">
          <strong>Nom :</strong> {{ stagesDetails[inscription.stageId!]?.nom }} <br>
          <strong>Description :</strong> {{ stagesDetails[inscription.stageId!]?.description }}
        </div>
        <ng-template #loading>
          <span>Chargement...</span>
        </ng-template>
      </td>
      <td>{{ inscription.stageType}}</td>
      <td>{{ inscription.dateOfInscription| date:'dd/MM/yyyy' }}</td>
      <td>{{inscription.inscriptionStatut}}</td>
    </tr>
    </tbody>
  </table>

  <ng-template #noInscriptions>
    <p>Aucune inscription trouvée.</p>
  </ng-template>
</div>

