<div class="dashboard_client">
  <h2>Bienvenue sur votre espace client</h2>

  <table *ngIf="inscriptions.length > 0; else noInscriptions">
    <thead>
    <tr>
      <th>StageId</th>
      <th>Type</th>
      <th>Date d'inscription</th>
      <th>Statut</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let inscription of inscriptions">
      <td>{{ inscription.stageId }}</td>
      <td>{{ inscription.stageType}}</td>
      <td>{{ inscription.dateOfInscription| date:'dd/MM/yyyy' }}</td>
      <td>{{getStatutLabel(inscription.statutInscription)}}</td>
        <!--
          <span class="badge" [ngClass]="{
            'badge-success': inscription.status === 'CONFIRMÉ',
            'badge-warning': inscription.status === 'EN ATTENTE',
            'badge-danger': inscription.status === 'ANNULÉ'
          }">
            {{ inscription.status }}
          </span>
          -->
    </tr>
    </tbody>
  </table>

  <ng-template #noInscriptions>
    <p>Aucune inscription trouvée.</p>
  </ng-template>
</div>

