.close_button {
  color: #383f4e;
  border: none;
  padding: 16px;
  cursor: pointer;
  height: 100px;
  align-items: center;
  font-size: 24px;
  margin-top: 24px;
  border-radius: 4px;
}

.close_button:hover {
  background-color: darkred;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Assurez-vous qu'il y a un espace entre les cartes */
}



.app-stage-details {
  margin-top: 0px; /* Espacement entre la carte et les détails */
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

.stage-details{
  display:flex;
  justify-content: space-between;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.1215686275), #12aed0);
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 80%;
  color: #fff;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 1s ease;
  margin:0 auto;
}

.stage_details_container1{
  border: 1px solid white;
  padding: 20px;
  border-radius: 10px;
  background: white;
  color: #292c32;
  line-height: 24px;
  hr{
    height:5px;
    background: #9c7d2c;
    margin-top:2px;
  }
  p{
    margin-top:2px;
  }
}
#infos-stage-details{
  background-color: #f8a733;
  color: #383f4e;
  padding: 28px;
  line-height: 30px;
  border-radius: 10px;
}

