<div class="inscription-continer">
  <!-- Formulaire d'inscription -->
  <div>
  <form id="inscription_form" [formGroup]="inscriptionCreationForm" (ngSubmit)="handleInscription()">


      <label for="stageType">Type de Stage</label>
      <select id="stageType" formControlName="stageType">
        <option value="" disabled selected>Sélectionner un type de stage</option>
        <option *ngFor="let type of stageTypes" [value]="type.value">
          {{ type.label }}
        </option>
      </select>

      <label for="dateOfInscription">Date d'inscription</label>
      <input id="dateOfInscription" formControlName="dateOfInscription" type="date" required />
    <button type="submit">S'inscrire</button>
  </form>
  </div>


  <!-- Détails du stage -->
  <div class="stage-details" *ngIf="stageDetails">
    <h2>Stage à {{ stageDetails.city }}</h2>
    <hr>
    <p>Arrondissement: {{ stageDetails.arrondissement }}</p>
    <p>Date: {{ stageDetails.dateDeStage }}</p>
    <p>Accès: {{ stageDetails.price }}€/personne</p>
  </div>
</div>
