
<div class="home_container" >
  Qui êtes-vous ?
<app-role-selection></app-role-selection>
  <h1 class="yesteryear-regular" id="main_title">Bienvenue sur ACM Auto-école !</h1>
  <br><br>
  <h2 class="title_space">Découvrez nos stages !</h2>

  <div class="flexCenter">
    <div>
      <img src="assets/images/spaceship.png" style="width:300px;">
    </div>
    <div>
      <p>StarTrip organise des stages de récupération de points de permis sur toute la France.
        Que ce soit volontaire, obligatoire ou probatoire, parcourez facilement notre large choix de destinations et réservez votre trip.</p>
      <button class="see_all_button journey_catalogue_button flexCenter"><a  routerLink="/journey/all"> > Nos destinations</a></button>
    </div>
  </div>
  <div>
    <h4>Nos stages</h4>

    <p>Même si le temps varie dans l'espace, il peut être long lors d'un voyage de plusieurs millions de kilomètres.
      Afin de le faire passer aussi vite que notre vaisseau équipé d'un Hyper Turbo Carbo, vous pouvez toujours vous offrir l'accès à plusieurs activités, voire le multipass, d'une valeur de 200 euros.</p>

  </div>

  <div class="home_journeys_catalogue">
    <p>Nos nouvelles explorations spatiales  🚀</p>
    <hr>
    <div class="planet-icons">
      <div>
        <h4>Mars</h4>
        <img style="width:300px;" src="../../../../../assets/images/Mars.png" alt="Mars">
        <button class="see_all_button"><a routerLink="/journey/1">Détails</a></button>
      </div>
      <div>
        <h4>Pluton</h4>
        <img style="width:300px;" src="../../../../../assets/images/Pluton.png" alt="saturne"/>
        <button class="see_all_button"><a routerLink="/journey/8">Détails </a></button>
      </div>
      <div>
        <h4>Saturne</h4>
        <img style="width:300px;" src="../../../../../assets/images/Saturne.png" alt="saturne"/>
        <button class="see_all_button"><a routerLink="/journey/2">Détails</a></button>
      </div>

    </div>
  </div>

  <h4 style="text-align:center;font-size:30px;">Prêt pour la grande aventure ?</h4>
  <button class="flexCenter booking_button" style="float:right;" routerLink="/booking/create"> JE RÉSERVE </button>

</div>


