
<div class="home_container" >
  <h1 class="yesteryear-regular" id="main_title">Bienvenue sur ACM Auto-école !</h1>
  <br><br>
  <h2 class="title_space">Découvrez nos stages !</h2>

  <div class="flexCenter">
    <div>
      <p>ACF organise des stages de récupération de points de permis sur toute la France.
        Que ce soit volontaire, obligatoire ou probatoire, parcourez facilement notre large choix de destinations et réservez votre trip.
      Nos stages tournent autour de 200 euros et s'organisent généralement en deux jours consécutifs. Pour voir la liste :.</p>
      <button class="see_all_button journey_catalogue_button flexCenter"><a routerLink="/stages/all"> > Nos stages</a></button>
    </div>
  </div>
</div>
