
<div class="home_container" >
  <h1>Bienvenue sur ACF Auto-école !</h1>
  <br><br>

  <div style="display:flex">

  <div>
      <h2 class="title_space">Découvrez nos stages !</h2>
      <p>ACF organise des stages de récupération de points de permis sur toute la France afin de sensibiliser les participants sur les dangers liés à la conduite.
      Ceux-ci s'organisent en deux jours consécutifs, en groupe de 6 à 20 personnes.</p>
      <button class="see_all_button journey_catalogue_button flexCenter"><a routerLink="/stages-infos"> > En savoir plus</a></button>
      <button class="see_all_button journey_catalogue_button flexCenter"><a routerLink="/stages/all"> > Nos stages</a></button>
  </div>

  <div id="infos-home-aside">

      <p>✓ Engagement ACF</p>
      <p>✓ Organisme local et agrée</p>
      <p>✓ Paiement des stages par carte bancaire et chèque</p>
      <p>✓ Remboursement simple et rapide</p>

    <div id="home_contact_datas">
    <h2>Infos et renseignements</h2>

      📞 Téléphone: 02 98 26 10 52 &nbsp; &nbsp;
      📩 Email: contact&#64;acf.fr
    <br>
    ACF Formation
    1 rue Saint Antoine  &nbsp; &nbsp;
      93000 Seine-Saint-Denis
    </div>
  </div>
  </div>
</div>

<div class="call_to_register_home_bottom_container">
  <h1>Vous n'avez pas de compte, créez en un ! </h1>
  <div class="flexCenter">
    <button class ="see_all_button journey_catalogue_button" routerLink="users/register" >
      Particulier
    </button>
    <button class ="see_all_button journey_catalogue_button"  routerLink="company/register">
      Entreprise
    </button>
  </div>
</div>
