.infos_stages_container{
  background: #d8dcde;
  padding: 125px 40px;
  line-height: 32px;
  ol{
    margin:10px;
    padding:20px;

  }
  ul{
    padding:20px;

  }
  li{

  }
  h2{
    padding:12px;
  }
}
