<form [formGroup]="codePromoCreationForm" id="stage_creation_form" (ngSubmit)="handleCodePromoCreation()">

  <div>
    <label for="code">Code</label>
    <input id="code" type="text" placeholder="Code" formControlName="code" required>
  </div>
  <div>
    <label for="reduction">Réduction</label>
    <input id="reduction" type="number" placeholder="Réduction" formControlName="reduction" required>
  </div>

  <div>
    <label for="expiry_date">Date d'expiration</label>
    <input id="expiry_date" type="date" placeholder="Date d'expiration" formControlName="expiry_date" required>
  </div>

  <button type="submit">Créer Code Promo</button>
</form>



