
<h1>Pour vous inscrire au </h1>


<form [formGroup]="companyRegisterForm"  id="company_register_form" (ngSubmit)="handleCompagnyRegisterFormSubmit()">

  <div>
    <label for="name">Nom de l'entreprise</label>
    <input id="name" name="companyName" type="text" placeholder="Nom de l'entreprise" formControlName="name" required />
  </div>
  <div>
    <label for="email">email</label>
    <input id="email" name="email" type="email" placeholder="email" formControlName="email" required />
  </div>
  <div>
    <label for="password">Mot de passe</label>
    <input id="password" name="password" type="password" placeholder="Mot de passe" formControlName="password" required />
  </div>

  <div>
    <label for="telephone">Contact</label>
    <input id="telephone" name="telephone" type="text" placeholder="n°telephone" formControlName="telephone" required />
  </div>
  <div class="flexCenter" style="margin-top:20px;">
    <input
      id="acceptTerms"
      name="acceptTerms"
      type="checkbox"
      formControlName="acceptTerms"
      required
    />
    <span> <br/>Je suis d'accord avec les conditions RGPD</span>
  </div>

  <button type="submit">S'enregistrer</button>
</form>
